 
body { 

	background-color: #242038 !important; 
	width: 100%;
	height: 100%;
	}
	
.poster img{

    height: 300px;

	
}
.poster {
	margin: 20px;
	position :relative;
}

ul{
    list-style: none;
    display : flex ;
    flex-wrap:wrap;
}

.card {
	margin:auto;
	}
	
	#comment{
	
	margin-left: 275px;
	}
	
	.espacecom {
	margin:auto;
	}
	
	hr {
	
	background-color: black;
	}

.price{
	position : absolute;
	bottom: 5px;
	right: 5px;
	background-color: darkred;
	color: white;
	border-radius: 5px;
	border : none;
	pointer-events: none;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
	transition: opacity 300ms ease-in;
}
	/*panier*/
	.fas{
		color: #fff;
		position: relative;
		cursor: pointer;
		
	}
	#amount{
		width: 25px;
		height: 25px;
		background-color: red;
		border-radius : 100px ;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translate(50%,40%);
		color: white;
		font-family: sans-serif;
		font-size: 14px;
		text-align: center;
		line-height: 25px;
		pointer-events: none;
		opacity: 0;
	}

	#popUp{
		width: 300px;
		height: 300px;
		background-color: #fff;
		z-index: 10000;
		position: absolute;
		top : 150%;
		left: 50%;
		transform: translate(-50%);
		overflow-y: scroll;
		color: black;
		font-family: sans-serif;
		font-size: 15px;
	}

.poster:hover >.price{
	opacity: 1;
	pointer-events: initial;
	cursor: pointer;

}

#popUp::-webkit-scrollbar {
	width: 4px;
  }
  
  #popUp::-webkit-scrollbar-track {
	background-color: rgba(108, 175, 175, 0.9);
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  #popUp::-webkit-scrollbar-thumb {
	background:red; 
	border-radius: 10px;
  }

  #orderList {
	  margin: 0;
	  padding: 0;
	  flex-direction: column;
  }
  #orderList li{
	  padding: 5px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
  }
  .orderPoster{
	  height: 70px;

  }
  #orderList div{
	display: flex;
	width: 100px;
}
#orderList div input{
	width: 100%;
	margin: 0 5px 0 5px;
}
#orderList p{
	margin: 0;
}
#totalPrice{
	border:none;
	pointer-events: none;
}