
.body { 
=======
body { 

color:  black !important; 
}

button {
		color: white;
		background-color: #716969;
}

a {
	text-decoration: none;

}


h1	{
	text-align: center;
}

hr {
	border: 1px black;
}

p {
	display: flex;
	justify-content: center;
}



/*SERVICES*/

.badge {
	margin: 15px;
	font-size: 15px !important;
	width: 60%;
	margin: auto;
	height: 40px;
	align-items: center !important;
}


/*ABOUT*/

.card-title a {
	text-decoration: none !important;
}

.contact-card {
	width: 90%;
	margin-right:5%;
}

/*----------HEADER-------------*/

.nav-navbar {
	justify-content: center;
}

.navbar-nav {
	justify-content: space-around;
	text-align: center;
	width: 100%;
}

.jumbotron {
	text-align: center;
	border-radius: 10px;
	width: 70%;
	margin: auto;
	margin-top: 50px;
}



/*NICE TO HAVE AN ANIMATION*/


/*.jumbotron {
  animation-duration: 3s;
  animation-name: slidein;
}*/

/*@keyframes slidein {
  from {
    margin-top: -300px;
    height: -100%; 
  }

  to {
    margin-top: 50px;
    height: 100%;

  }
}*/



/*-------1st SECTION (div)---------*/


.jumbotron {
	font-size: 1.5em;
}
.jumbotron p {
	font-size: 1.5em;
}

.jumbotron h1 {
	font-size: 2.5em !important;
}

.btn {
	width: 50%;
}


.container {
	display: inline-flex;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
}


#collapse {
	margin: auto;
}
/*SECTION LEFT*/


.carousel-item {
			align-content: center;
			background-color: black;
}

.carousel-caption {
			background-color: black;
			font-color: white;
			font-size: 1.2em;
			justify-content: space-between;

}


section {
	margin-top: 1%;
	margin-bottom: 5%;

	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: center;
}

.carousel-inner img {
	filter: blur(5px);

}

.carousel-inner img:hover {
	filter: none;
	transition: .5s ease;
}


.carousel-item:hover h5 + p {
	display: none;
}

.carousel-item:hover h5 {
	display: none;
}

/*ARTICLE RIGHT*/

article {
	margin: 1%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;

}

.media-body {
	display: flex;
    flex-direction: column;
    justify-content: center;
	border-style: solid;
	width: 525px;
	height:276.406px;

}

.media {
	margin-bottom: 10%;
}

/*SERVICES*/

.card-body a {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	font-size: 1.5em;

}

.card-body img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
	font-size: 1.5em;

}

.card-body p {
 font-size: 1em;

}

.card-body h5 {
 font-size: 1.3em;
}

.card-body h4 {
 font-size: 1em;
}

.card-body {
	margin: 3%;
}

.card {
	margin: 5%;
}

/*ABOUT*/

/* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }


/*CONTACT*/

form {
	background-color: black;
	margin: 5%;
	padding: 20px;
	border-radius: 10px;
}

label {
	color: white;
}

.form-control-lg {
	padding-left: 0px !important;

}

.form-control {
	padding-left: 0px !important;
}

.custom-select {
	padding-left: 0px !important;
}

#exampleInputEmail1 {
	padding-left: 0px !important;
} 

#inlineFormCustomSelect {
	padding-left: 0px !important;
}
/*--------FOOTER----------*/


.footer-endorsement {
	display: flex;
	flex-direction: column;
	padding: 0px;
}

footer {
	margin: auto;
}

footer h5 {
	color: black
}

.footer-endorsement img {
	width: 40px;
	margin: 5px;
}

.footer-endorsement img:hover {
		
}

.footer-endorsement span:hover {

}

.footer-media {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	padding: 0px;

}

.footer-media span:hover {
		

}

.footer-media img:hover {
		color: gold;

}


background-color :  black;
}

.card {
    margin:auto;
}


#comment{

    margin-left: 275px;
}

.espacecom {
    margin:auto;
}

hr {

    background-color: black;
}


span:hover {
	color: gold;
}

footer span {
	color: grey !important;
}



footer span:hover {





/*----------MEDIA QUERIES-------------*/


@media (max-width: 768px) {



	.container {
		padding-top: 100px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		justify-content: center;
		
	}

		flex-direction: row;
	}

/*End of media query max-width: 768px*/
}


/*For IPAD */
@media (min-width: 768px) and (max-width: 1024px) {

	.container {
		width: 100% !important;
	}

section {
	width: 100% !important;
}


}

/* IPHONE 5/SE */
@media (max-width: 320px) {

i { font-size: 17px; }

.footer-endorsement img {
	width: 20px;
	margin: 5px;

}


