.body { 

background-color: black; 
}

.card {
    margin:auto;
}

span:hover {
	color: gold;
}

footer span {
	color: grey !important;
}


footer span:hover {
	
	text-decoration: underline;
}


/*----------MEDIA QUERIES-------------*/


@media (max-width: 768px) {


	.container {
		display: flex;
		flex-direction: column;
	}

	article {
		margin-top: 20px;

	}



	.media-text {
		display: none;
	}


/*FOOTER*/

	.footer-media  {
		display: flex;
		flex-direction: row;

	}

	.footer-endorsement {
		display: flex;
		flex-direction: row;

	}

	.footer-endorsement img {
	width: 30px;
	margin: 10px;

	}

	.endorsement {
		display: none;
	}


	i {
		font-size: 30px;
		display: flex;
		flex-direction: row;
	}

/*End of media query max-width: 768px*/
}


/*For IPAD */
@media (min-width: 768px) and (max-width: 1024px) {

	.container {
		width: 100% !important;
	}

section {
	width: 100% !important;
}


}

/* IPHONE 5/SE */
@media (max-width: 320px) {

i { font-size: 17px; }

.footer-endorsement img {
	width: 20px;
	margin: 5px;

}

